#root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    width: 1080px;
}

@media (max-width: 1080px) { 
    #root {
        width: 100%;
        margin: 0 auto;
    }
}